* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
    background-color: #ffffff;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.logo {
    align-items: center;
    display: flex;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 37px;
}

.header-form {
    display: flex;

}

.button-site {
    background-color: #f16d7f;
    padding: 11px 19px;
    border: 1px solid transparent;
}

.button-site:hover {
    color: #f16d7f;
    background-color: #ffffff;
    border: 1px solid #f16d7f;
}

.my-acc {
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.my-acc-icon {
    margin-left: 8px;
    font-size: 14px;
    font-weight: 400;
}

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu__link {
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}


.banner {
    height: 613px;
    background-color: #e8e8e8;
}

.banner-block {
    height: 100%;
    background: url(images/banner.jpg) 0 -51px;
}

.the-brand {
    color: #222222;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 44px;
    margin-bottom: 20px;
}

.text-fashion {
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 28px;
}

.banner-text {
    margin-top: 224px;
    border-left: 12px solid #f16d7f;
    float: left;
    padding-left: 12px;
}

.span-fashion {
    color: #f16d7f;
}

.logo-img {
    margin-right: 12px;
}

.span-d {
    color: #f16d7f;
    font-weight: 700;
}

.header-input {
    width: 317px;
    height: 38px;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    padding: 0 15px;
    font-family: 'Lato', sans-serif;
}

.button-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 87px;
    height: 38px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    border-right: none;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.35px;
}

.button-form:hover {
    background: #fff;
}

.button-icon {
    color: #a4a4a4;
    font-size: 14px;
    padding: 11px;
}

.button-search {
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    border-left: none;
    background-color: #ffffff;
}

.button-search:hover {
    background: #f8f8f8;
}

.fa-search {}

.basket-icon {
    margin-right: 26px;
}

.main {
    margin-top: 98px;
}

.category-wrap {
    height: 843px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.category-item {
    position: relative;
    font-weight: 700;
}

.category-item:nth-child(1),
.category-item:nth-child(4) {
    width: 560px;
    height: 542px;
}

.category-item:nth-child(2),
.category-item:nth-child(3) {
    width: 560px;
    height: 261px;
}

.category-item:nth-child(1) {
    order: 1;
    margin-right: 21px;
    margin-bottom: 21px;
}

.category-item:nth-child(2) {
    order: 3;
    margin-bottom: 21px;
}

.category-item:nth-child(3) {
    order: 2;
}

.category-item:nth-child(4) {
    order: 4;
}

.category-name {
    color: #222222;
    font-size: 18px;
    text-transform: uppercase;
    padding: 18px;
    background-color: #ffffff;
    position: absolute;
    top: 26px;
    left: 0;
}

.span-category {
    color: #f16d7f;
    font-size: 30px;
}

.fetured {
    margin-top: 100px;
}

.fetured-header {
    text-align: center;
}

.fetured-title {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
}

.fetured-text {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
}

/*Кнопка внизу товаров*/

.all-products {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.fa-long-arrow-alt-right {
    margin-left: 9px;
}

.feature-button {
    display: flex;
    justify-content: center;
}


.browse-icon {
    margin-left: 9px;
    font-size: 15px;
    font-weight: 400;
}

/*Блок с товарами*/

.box-product {
    margin: 60px 0 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.item {
    width: 263px;
    position: relative;
    margin-bottom: 40px;
}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover .box-add {
    display: flex;
}

.product-img {
    width: 100%;
}

.item:hover .product-img {
    filter: brightness(0.3);
}

.product {
    width: 263px;
    display: block;
    text-decoration: none;
}

.product-text-box {
    padding: 20px 15px;
}

.product-text {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.product-price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.add {
    border: 1px solid #ffffff;
    padding: 8px 12px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.add:hover {
    box-shadow: 0 0 10px #ffffff
}

.box-add {
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
    width: 100%;
}

.add-icon {
    margin-right: 8px;
}
