* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1140px;
    margin: 0 auto;
}


/*Блок Header*/

.header {
    height: 100px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

/* Внутренний блок Header-left */

.logo {
    display: flex;
    align-items: center;
    color: #222222;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
    margin-right: 37px;
}

.logo__img {
    margin-right: 12px;
}

.logo__span {
    color: #f16d7f;
    font-weight: 700;
}

.header-form {
    display: flex;
    position: relative;
}

.header-form__browse {
    padding: 9px 9px 9px 15px;
    border-radius: 3px 0 0 3px;
    border: 1px solid #e6e6e6;
    color: #222222;
    font-size: 14px;
    font-weight: 300;
    background-color: #cdcdcc;
    background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}

.header-form__browse:hover {
    cursor: pointer;
}

.icon-browse {
    color: #a4a4a4;
    padding: 4px;
}

.dropdown-browse {
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    top: 35px;
    left: 0;
    display: none;
    z-index: 100;
}

.dropdown-browse:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: -6px;
    left: 65px;
    transform: rotate(45deg);
    border-top: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}

.inner__title {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8;
    width: 235px;
    padding-bottom: 8px;
    margin-bottom: 6px;
}

.inner__menu {
    list-style-type: none;
}

.inner__menu-link {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.inner__menu-link:hover {
    color: #f16d7f;
}

.inner-margin {
    margin-top: 16px;
}

.header-form__browse:hover .dropdown-browse {
    display: block;
}

.header-form__input {
    width: 245px;
    border: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
    background-color: #ffffff;
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 300;
    padding: 9px 15px;
    outline: none;
}

.header-form__search {
    border-radius: 0 3px 3px 0;
    border: 1px solid #e6e6e6;
    background-color: #ffffff;
    padding: 9px 12px 9px;
}

.header-form__search:hover {
    background: #f8f8f8;
    cursor: pointer;
}

.icon-search {
    color: #a4a4a4;
    font-size: 14px;
    font-weight: 400;
}

/* Внутренний блок Header-right */

.button {
    padding: 11px 19px;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
}

.button_red {
    background-color: #f16d7f;
    color: #ffffff;
}

.button_red:hover {
    color: #f16d7f;
    background-color: #ffffff;
    border: 1px solid #f16d7f;
}

.icon-arrow-down {
    margin-left: 8px;
}

.basket-wrap {
    position: relative;
    padding-bottom: 25px;
}

.icon-basket {
    margin-right: 26px;
}

.dropdown-basket {
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    top: 49px;
    left: -14px;
    display: none;
    z-index: 100;
    padding: 5px 19px 20px;
}

.dropdown-basket:before {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    background-color: #fff;
    position: absolute;
    top: -6px;
    left: 26px;
    transform: rotate(45deg);
    border-top: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}

.basket-wrap:hover .dropdown-basket {
    display: block;
}

.basket-card {
    display: flex;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 16px;
    margin-top: 16px;
}

.basket-card_img {
    margin-right: 14px;
    width: 72px;
    height: 85px;
}

.basket-card__wrap {
    font-size: 12px;
}

.basket-card__title {
    margin-top: 10px;
    color: #222222;
    font-weight: 700;
    text-transform: uppercase;
    white-space:nowrap;
}

.basket-card__stars {
    margin-top: 10px;
    font-weight: 400;
    color: #e4af48;
    display: flex;
    justify-content: left;
}

.basket-card__info {
    margin-top: 12px;
    color: #f16d7f;
    font-weight: 400;
    text-transform: uppercase;
}

.fw10 {
    font-size: 10px;
}

.icon-close {
    color: #c0c0c0;
    font-size: 16px;
    font-weight: 400;
    margin-left: 50px;
    line-height: 85px;
}

.basket-price {
    display: flex;
    justify-content: space-between;
    margin-top: 19px;
    color: #222222;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.button_white {
    color: #f16d7f;
    background-color: #ffffff;
    border: 1px solid #f16d7f;
    outline: none;
}

.button_white:hover {
    background-color: #f16d7f;
    color: #ffffff;
    cursor: pointer;
}

.button_checkout {
    margin-top: 32px;
    width: 100%;
}

.button_grey {
    color: #4a4a4a;
    background-color: #ffffff;
    border: 1px solid #eaeaea;
    outline: none;
}

.button_grey:hover {
    color: #fff;
    background-color:#4a4a4a;
    cursor: pointer;
}

.button_go {
    margin-top: 11px;
    width: 100%;
}

/* Блок Navigation */

.menu {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.menu__list {
    position: relative;
}

.menu__list:hover .menu-popup {
    display: flex;
}

.menu__link {
    text-decoration: none;
    display: block;
    padding: 20px 25px;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.menu-popup {
    position: absolute;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #e9e9e9;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
    display: none;
    top: 47px;
}

.menu-popup:before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background-color: #fff;
    position: absolute;
    top: -7px;
    left: 34px;
    transform: rotate(45deg);
    border-top: 1px solid #e9e9e9;
    border-left: 1px solid #e9e9e9;
}

.menu-popup__flex {
    margin-right: 40px;
}

.menu-popup__flex:last-of-type {
    margin-right: 0;
}

.menu-popup__title {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    border-bottom: 1px solid #e8e8e8;
    width: 235px;
    padding-bottom: 8px;
    margin-bottom: 8px;
}

.menu-popup__list {
    list-style-type: none;
}

.menu-popup__link {
    color: #646464;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    text-decoration: none;
}

.menu-popup__link:hover {
    color: #f16d7f;
}

.menu-popup__link_last:hover .menu-popup {
    right: 0;
}

.menu-popup__link_last:hover .menu-popup:before {
    left: auto;
    right: 55px;
}



/* ---------------------------- */
.slider {
    height: 613px;
    background-color: #e8e8e8;
}

.slider-block {
    height: 100%;
    background: url(images/slider.jpg) 0 -51px;
}

.the-brand {
    color: #222222;
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 44px;
    margin-bottom: 20px;
}

.text-fashion {
    color: #222222;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 28px;
}

.slider-text {
    margin-top: 224px;
    border-left: 12px solid #f16d7f;
    float: left;
    padding-left: 12px;
}

.span-fashion {
    color: #f16d7f;
}


.categories {
    margin-top: 98px;
}

.category-wrap {
    height: 843px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.category-item {
    position: relative;
    font-weight: 700;
}

.category-item:nth-child(1),
.category-item:nth-child(4) {
    width: 560px;
    height: 542px;
}

.category-item:nth-child(2),
.category-item:nth-child(3) {
    width: 560px;
    height: 261px;
}

.category-item:nth-child(1) {
    order: 1;
    margin-right: 21px;
    margin-bottom: 21px;
}

.category-item:nth-child(2) {
    order: 3;
    margin-bottom: 21px;
}

.category-item:nth-child(3) {
    order: 2;
}

.category-item:nth-child(4) {
    order: 4;
}

.category-name {
    color: #222222;
    font-size: 18px;
    text-transform: uppercase;
    padding: 18px;
    background-color: #ffffff;
    position: absolute;
    top: 26px;
    left: 0;
}

.span-category {
    color: #f16d7f;
    font-size: 30px;
}

.fetured-items {
    margin-top: 100px;
}

.fetured-header {
    text-align: center;
}

.fetured-title {
    color: #222222;
    font-size: 30px;
    font-weight: 700;
}

.fetured-text {
    color: #9f9f9f;
    font-size: 14px;
    font-weight: 400;
    margin-top: 16px;
}


/*Кнопка внизу товаров*/

.all-products {
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

.fa-long-arrow-alt-right {
    margin-left: 9px;
}

.feature-button {
    display: flex;
    justify-content: center;
}

.browse-icon {
    margin-left: 9px;
    font-size: 15px;
    font-weight: 400;
}


/*Блок с товарами*/

.box-product {
    margin: 60px 0 60px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 263px;
    position: relative;
    margin-bottom: 40px;
}

.item:hover {
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
}

.item:hover .box-add {
    display: flex;
}

.product-img {
    width: 100%;
}

.item:hover .product-img {
    filter: brightness(0.3);
}

.product {
    text-decoration: none;
}

.product-text-box {
    padding: 20px 15px;
}

.product-text {
    color: #222222;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 17px;
}

.product-price {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.add {
    border: 1px solid #ffffff;
    padding: 8px 12px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.add:hover {
    box-shadow: 0 0 10px #ffffff
}

.box-add {
    position: absolute;
    top: 98px;
    display: none;
    justify-content: center;
    width: 100%;
}

.add-icon {
    margin-right: 8px;
    color: #fff;
}


/*Нижний баннер*/

.banner-box {
    height: 100%;
    display: flex;
    justify-content: space-between;
}

.banner {
    height: 529px;
    margin-top: 113px;
    margin-bottom: 97px;
}

.banner-photo {
    position: relative;
}

.banner-sale {
    font-size: 54px;
}

.banner-text {
    position: absolute;
    top: 146px;
    left: 39px;
    color: #ffffff;
    font-weight: 700;
}

.banner-category {
    font-size: 32px;
}

.span-banner {
    color: #f16d7f;
}

.banner-articles {
    padding: 48px 36px;
    background-color: #222224;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.article-img {
    margin-top: -5px;
}

.article-header {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 17px;
}

.article-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.article-box {
    margin-left: 35px;
    width: 219px;
    color: #fbfbfb;
}


/*Блок Subscribe*/

.subscribe {
    margin-top: 97px;
    height: 438px;
    background: url(images/subscribe_bg.jpg) center no-repeat;
    position: relative;
}

.subscribe::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(242, 242, 242, 0.43);
}

.subscribe-block {
    height: 100%;
    display: flex;
}

.subscribe-portrait {
    margin-top: 111px;
    z-index: 100;
    width: 83px;
    height: 83px;
}

.subscribe-text {
    width: 371px;
    margin-bottom: 19px;
    color: #222224;
    font-style: italic;
    font-size: 16px;
    line-height: 26px;
}

.subscribe-left {
    display: flex;
    width: 50%;
}

.subscribe-author {
    color: #f16d7f;
    font-size: 16px;
    font-weight: 700;
}

.subscribe-quote {
    margin-top: 123px;
    margin-left: 28px;
    z-index: 100;
}

.subscribe-place {
    color: #222224;
    font-size: 12px;
    font-weight: 300;
}

.subscribe-right {
    width: 50%;
    padding-top: 148px;
    z-index: 100;
    text-align: center
}

.subscribe-title {
    font-size: 24px;
    text-transform: uppercase;
}

.subscribe-title-box {
    color: #222224;
    font-weight: 400;
}

.subscribe-subtitle {
    font-size: 14px;
    text-transform: uppercase;
}

.subscribe-form {
    margin-top: 35px;
    display: flex;
    justify-content: center
}

.subscribe-input {
    width: 218px;
    height: 46px;
    padding: 0 28px;
    border: none;
    border-radius: 23px 0 0 23px;
    background-color: #e1e1e1;
    color: #222224;
    font-size: 14px;
    font-weight: 400;
}

.subscribe-input:focus {
    outline: none;
}

.subscribe-button {
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0 23px 23px 0;
    padding: 13px 21px;
}


/*Блок footer*/

.footer-box {
    display: flex;
    justify-content: space-between;
}

.footer-text {
    margin-top: 29px;
    width: 404px;
    color: #898989;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
}

.column h3 {
    color: #f16d7f;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.column-item {
    color: #898989;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
}

.column-item:hover {
    color: #f16d7f;
}

.footer {
    margin: 109px 0 89px 0;
    height: 260px;
}

.column {}

.column-links {
    margin-top: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 196px;
}

.copyrights {
    height: 79px;
    background-color: #e6e6e6;
}

.copyrights-text {
    color: #7a7a7a;
    font-size: 16px;
    font-weight: 400;
}

.copyrights-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.socials-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: #ffffff;
}

.socials-item:hover {
    background-color: #f16d7f;
}

.socials-item:hover .span-socials {
    color: #fff;
}

.copyrights-socials {
    display: flex;
    justify-content: space-between;
    width: 192px;
}

.span-socials {
    color: #b2b2b2;
}

.socials-item:active {
    background-color: rgba(255, 255, 255, 0.17);
}


/*Мега меню*/






/*Single page*/


/*Block New arrivals*/

.new-arrivals {
    height: 148px;
    background-color: #f8f3f4;
}

.new-arrivals-title {
    color: #f16d7f;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
}

.new-arrivals-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.new-arrivals-link {
    color: #636363;
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    text-decoration: none;
}

.span-new-arrival {
    color: #f16d7f;
    font-weight: 700;
}

.present-photo-img {
    width: 100%;
}


/*Block Product*/

.product-card {
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    position: relative;
    top: -81px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.type-of-collection {
    margin-top: 73px;
    color: #f16d7f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.devider {
    margin-top: 14px;
}

.product-name {
    margin-top: 17px;
    color: #4d4d4d;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
}

.product-card-text {
    margin-top: 67px;
    width: 619px;
    color: #5e5e5e;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    text-align: center;
}

.product-card-info-box {
    margin-top: 28px;
    color: #b9b9b9;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
}

.info-box-leftside {
    margin-right: 44px;
}

.span-info-box {
    color: #2f2f2f;
}

.product-card-price {
    margin-top: 37px;
    color: #ef5b70;
    font-size: 24px;
    font-weight: 700;
}

.arguments-box {
    margin-top: 43px;
    padding-top: 63px;
    border-top: 1px solid #eaeaea;
    display: flex;
    justify-content: space-between;
    min-width: 537px;
}

.arguments-title {
    color: #2f2f2f;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.arguments-dropdown {
    margin: 16px 0 28px 0;
    width: 144px;
    height: 35px;
    border: 1px solid #eaeaea;
    outline: none;
    color: #bcbcbc;
    padding: 5px 15px;
}

.product-button__add {
    color: #ef5b70;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-top: 28px;
    border: 1px solid #ef5b70;
    padding: 10px 206px;
    margin-bottom: 122px;
}

.product-button__add:hover {
    color: #fff;
    background-color: #f16d7f;
}


/*Block Like-also*/

.like-also-header {
    color: #4d4d4d;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center
}

.like-also {
    margin-top: 33px;
}