body {
    background-color: #f8f8f8;
}

.liststyle {
    list-style-type: none;;
}

ul a {
    color: cadetblue;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background-color: #eaeaea;
}

.parag1 {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.parag2 {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

ol {
    color: olivedrab;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    list-style-image: url(/test3/images/icon.png);
}

input {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: olivedrab;
    font-size: 24px;
    width: 50%;
}

.border {
    border: 22px solid rgb(112, 110, 110)
}