@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

.container {
  width: 1140px;
  margin: 0 auto;
}

/*Блок Header*/
.header {
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  border: 1px solid #ececec;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.header-left {
  display: flex;
  align-items: center;
}
.header-left__logo {
  margin-right: 37px;
}

.header-right {
  display: flex;
  align-items: center;
}

/* Внутренний блок Header-left */
.logo {
  display: flex;
  align-items: center;
  font-size: 27px;
  text-transform: uppercase;
  text-decoration: none;
}
.logo__img {
  margin-right: 12px;
}
.logo__text_black {
  color: #222222;
  font-weight: 300;
}
.logo__text_red {
  color: #f16d7f;
  font-weight: 700;
}

.header-form {
  display: flex;
  position: relative;
}
.header-form__browse {
  padding: 9px 9px 9px 15px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  color: #222222;
  font-size: 14px;
  font-weight: 300;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}
.header-form__browse:hover {
  background-color: #ffffff;
  background-image: none;
  cursor: pointer;
}

.icon-browse {
  color: #a4a4a4;
  padding: 4px;
}

.dropdown-browse {
  position: absolute;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  top: 35px;
  left: 0;
  display: none;
  z-index: 100;
}
.dropdown-browse:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 65px;
  transform: rotate(45deg);
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
}

.inner__title {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  width: 235px;
  padding-bottom: 8px;
  margin-bottom: 6px;
}

.inner__menu {
  list-style-type: none;
}

.inner__menu-link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

.inner__menu-link:hover {
  color: #f16d7f;
}

.inner-margin {
  margin-top: 16px;
}

.header-form__browse:hover .dropdown-browse {
  display: block;
}

.header-form__input {
  width: 245px;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-right: none;
  background-color: #ffffff;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 300;
  padding: 9px 15px;
  outline: none;
}

.header-form__search {
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
  padding: 9px 12px 9px;
}

.header-form__search:hover {
  background: #f8f8f8;
  cursor: pointer;
}

.icon-search {
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
}

/* Внутренний блок Header-right */
.button {
  padding: 11px 19px;
  border: 1px solid transparent;
  font-size: 15px;
  font-weight: 400;
  text-decoration: none;
  transition: all 0.5s;
  outline: none;
}
.button_white {
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
}
.button_white:hover {
  background-color: #f16d7f;
  color: #ffffff;
  cursor: pointer;
}
.button_grey {
  color: #4a4a4a;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
}
.button_grey:hover {
  color: #fff;
  background-color: #4a4a4a;
  cursor: pointer;
}
.button_red {
  background-color: #f16d7f;
  color: #ffffff;
  border: 1px solid transparent;
}
.button_red:hover {
  color: #f16d7f;
  background-color: #ffffff;
  border: 1px solid #f16d7f;
  cursor: pointer;
}

.icon-arrow-down {
  margin-left: 8px;
}

.basket-wrap {
  position: relative;
  padding: 10px 0;
}

.basket-link {
  position: relative;
}

.icon-basket {
  margin-right: 26px;
}

.icon-quantity {
  background: url(../images/Ellipse.svg) no-repeat;
  color: #ffffff;
  font-size: 12px;
  font-weight: 700;
  position: absolute;
  left: 24px;
  top: -19px;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-top: 1px;
}

.dropdown-basket {
  position: absolute;
  border-radius: 5px;
  background-color: #ffffff;
  border: 1px solid #e9e9e9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  top: 49px;
  left: -14px;
  display: none;
  z-index: 100;
  padding: 5px 19px 20px;
}
.dropdown-basket:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background-color: #fff;
  position: absolute;
  top: -6px;
  left: 26px;
  transform: rotate(45deg);
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
}
.dropdown-basket__button_checkout {
  margin-top: 32px;
  width: 100%;
}
.dropdown-basket__button_go {
  margin-top: 11px;
  width: 100%;
}

.basket-wrap:hover .dropdown-basket {
  display: block;
}

.basket-card {
  display: flex;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 16px;
  margin-top: 16px;
}

.basket-card_img {
  margin-right: 14px;
  width: 72px;
  height: 85px;
}

.basket-card__wrap {
  font-size: 12px;
}

.basket-card__title {
  margin-top: 10px;
  color: #222222;
  font-weight: 700;
  text-transform: uppercase;
  white-space: nowrap;
}

.basket-card__stars {
  margin-top: 10px;
  font-weight: 400;
  color: #e4af48;
  display: flex;
  justify-content: left;
}

.basket-card__info {
  margin-top: 12px;
  color: #f16d7f;
  font-weight: 400;
  text-transform: uppercase;
}

.fw10 {
  font-size: 10px;
}

.icon-close {
  color: #c0c0c0;
  font-size: 16px;
  font-weight: 400;
  margin-left: 50px;
  line-height: 85px;
}
.icon-close:hover {
  cursor: pointer;
}

.basket-price {
  display: flex;
  justify-content: space-between;
  margin-top: 19px;
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

/* Блок Navigation */
.menu {
  display: flex;
  list-style-type: none;
  justify-content: center;
}

.menu__list {
  position: relative;
}

.menu__link {
  text-decoration: none;
  display: block;
  padding: 20px 25px;
  color: #222222;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s ease-in-out;
}

.menu__link:hover {
  color: #f16d7f;
  text-decoration: underline;
}

.menu-popup {
  position: absolute;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #e9e9e9;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  display: none;
  top: 47px;
  flex-flow: column wrap;
  width: 846px;
  height: 287px;
  justify-content: space-between;
  z-index: 100;
}

.menu-popup:before {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background-color: #fff;
  position: absolute;
  top: -7px;
  left: 34px;
  transform: rotate(45deg);
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
}

.menu__list:hover .menu-popup {
  display: flex;
}

.menu-popup__flex {
  margin-right: 40px;
}

.menu-popup__flex:last-of-type {
  margin-right: 0;
}

.menu-popup__title {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  border-bottom: 1px solid #e8e8e8;
  width: 235px;
  padding-bottom: 8px;
  margin-bottom: 8px;
}

.menu-popup__list {
  list-style-type: none;
}

.menu-popup__link {
  color: #646464;
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
}

.menu-popup__link:hover {
  color: #f16d7f;
}

.menu-popup__link_last:hover .menu-popup {
  right: 0;
}

.menu-popup__link_last:hover .menu-popup:before {
  left: auto;
  right: 55px;
}

.menu-popup__wrap {
  position: relative;
}

.menu-popup__text {
  position: absolute;
  color: #ffffff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  bottom: 12px;
  right: 40px;
  width: 71px;
}

/* Блок Slider */
.slider {
  height: 613px;
  background-color: #e8e8e8;
}

.slider-block {
  height: 100%;
  background: url(../images/slider.jpg) 0 -51px;
}

.slider-text {
  margin-top: 224px;
  border-left: 12px solid #f16d7f;
  float: left;
  padding-left: 12px;
}

.slider-text__brand {
  color: #222222;
  font-size: 60px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 44px;
  margin-bottom: 20px;
}

.slider-text__fashion {
  color: #222222;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 28px;
}

.span-fashion {
  color: #f16d7f;
}

/* Блок Categories */
.categories {
  margin-top: 98px;
}

.category-wrap {
  height: 843px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.category-item {
  position: relative;
  font-weight: 700;
  transition: transform 1s ease-in-out;
}
.category-item:hover {
  transform: scale(1.03);
  z-index: 100;
}

.category-item:nth-child(1),
.category-item:nth-child(4) {
  width: 560px;
  height: 542px;
}

.category-item:nth-child(2),
.category-item:nth-child(3) {
  width: 560px;
  height: 261px;
}

.category-item:nth-child(1) {
  order: 1;
  margin-right: 21px;
  margin-bottom: 21px;
}

.category-item:nth-child(2) {
  order: 3;
  margin-bottom: 21px;
}

.category-item:nth-child(3) {
  order: 2;
}

.category-item:nth-child(4) {
  order: 4;
}

.category-name {
  color: #222222;
  font-size: 18px;
  text-transform: uppercase;
  padding: 18px;
  background-color: #ffffff;
  position: absolute;
  top: 26px;
  left: 0;
}

.span-category {
  color: #f16d7f;
  font-size: 30px;
}

/* Блок Fetured-items */
.fetured-items {
  margin-top: 80px;
}

.fetured-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.fetured-header {
  text-align: center;
}

.fetured-header__title {
  color: #222222;
  font-size: 30px;
  font-weight: 700;
}

.fetured-header__text {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  margin-top: 16px;
}

/*Внутренний блок с товарами*/
.product-box {
  margin: 60px 0 23px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-box__item {
  width: 263px;
  position: relative;
  margin-bottom: 40px;
  transition: transform 0.3s ease-in-out;
}

.product-box__item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  transform: scale(1.03);
}

.product-box__card {
  text-decoration: none;
}

.product-box__img {
  width: 100%;
  height: 279px;
}

.product-box__item:hover .product-box__img {
  filter: brightness(0.3);
}

.product-box__text-box {
  padding: 20px 15px;
}

.text-box__desc {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 17px;
}

.text-box__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.product-box__add {
  position: absolute;
  top: 98px;
  display: none;
  justify-content: center;
  width: 100%;
}

.button-add {
  border: 1px solid #ffffff;
  padding: 8px 12px;
  color: #ffffff;
  font-size: 13px;
  font-weight: 700;
  text-decoration: none;
  align-items: center;
  display: flex;
}

.button-add:hover {
  box-shadow: 0 0 10px #ffffff;
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  -webkit-animation-animation: heartbeat 1.5s ease-in-out infinite both;
}

.product-box__item:hover .product-box__add {
  display: flex;
}

.icon-add {
  margin-right: 8px;
  color: #fff;
}

/*Кнопка внизу товаров*/
.browse-icon {
  margin-left: 9px;
  font-size: 15px;
  font-weight: 400;
}

/*Нижний баннер*/
.banner-bottom {
  height: 529px;
  margin-top: 113px;
  margin-bottom: 97px;
}

.banner-box {
  height: 100%;
  display: flex;
  justify-content: space-between;
}

.banner-bottom__photo {
  position: relative;
}

.banner-bottom__text-block {
  position: absolute;
  top: 146px;
  left: 39px;
  color: #ffffff;
  font-weight: 700;
}

.text-block__sale {
  font-size: 54px;
}

.text-block__category {
  font-size: 32px;
}

.span-banner {
  color: #f16d7f;
}

.banner-bottom__articles {
  padding: 48px 36px;
  background-color: #222224;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.article__item {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.article__img {
  margin-top: -5px;
}

.article__header {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 17px;
}

.article__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.article__box {
  margin-left: 35px;
  width: 219px;
  color: #fbfbfb;
}

/*Блок Subscribe*/
/* Subscribe-left */
.subscribe {
  margin-top: 97px;
  height: 438px;
  background: url(../images/subscribe_bg.jpg) center no-repeat;
  position: relative;
}

.subscribe-block {
  height: 100%;
  display: flex;
}

.subscribe-left,
.subscribe-right {
  display: flex;
  width: 50%;
}

.subscribe-left__portrait {
  margin-top: 111px;
  width: 83px;
  height: 83px;
}

.subscribe-left__quote {
  margin-top: 123px;
  margin-left: 28px;
}

.subscribe-left__text {
  width: 371px;
  margin-bottom: 19px;
  color: #222224;
  font-style: italic;
  font-size: 16px;
  line-height: 26px;
}

.subscribe-left__author {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
}

.subscribe-left__place {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
}

/* Subscribe-right */
.subscribe-right {
  justify-content: center;
  align-items: center;
}
.subscribe-right__button {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  border-radius: 0 23px 23px 0;
  padding: 12px 21px;
  transition: all 0.3s;
}

.subscribe-title-box {
  color: #222224;
  font-weight: 400;
  text-align: center;
}

.subscribe-right__title {
  font-size: 24px;
  text-transform: uppercase;
}

.subscribe-right__subtitle {
  font-size: 14px;
  text-transform: uppercase;
}

.subscribe-right__form {
  margin-top: 35px;
  display: flex;
  justify-content: center;
}

.subscribe-right__input {
  width: 218px;
  height: 46px;
  padding: 0 28px;
  border: none;
  border-radius: 23px 0 0 23px;
  background-color: #e1e1e1;
  color: #222224;
  font-size: 14px;
  font-weight: 400;
}
.subscribe-right__input:focus {
  outline: none;
}

/* Pagination panel */
.pagination_nav {
  width: 100%;
  position: relative;
}

.nav__items {
  list-style: none;
  display: inline-block;
  position: absolute;
  bottom: -30px;
  left: 0;
}

.nav__selector {
  width: 38px;
  height: 4px;
  margin-right: 13px;
  background-color: #d6d6d6;
  display: inline-block;
  cursor: pointer;
}

.nav__selector_current {
  background-color: #f16d7f;
}

.nav__selector:hover {
  background-color: #f16d7f;
}

/*Блок footer*/
.footer {
  margin: 109px 0 89px 0;
  height: 260px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
}

.footer-text {
  margin-top: 29px;
  width: 404px;
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.column {
  margin-top: 14px;
}

.column h3 {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.column-links {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 184px;
}

.column-item {
  color: #898989;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
}

.column-item:hover {
  color: #f16d7f;
}

/* Блок Copyrights */
.copyrights {
  height: 79px;
  background-color: #e6e6e6;
}

.copyrights-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.copyrights__text {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
}

.copyrights__socials {
  display: flex;
  justify-content: space-between;
  width: 192px;
}

.socials__item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
  width: 32px;
  background-color: #ffffff;
  transition: transform 1s ease-in-out;
}

.socials__item:hover {
  background-color: #f16d7f;
  transform: rotate(360deg);
}

.span-socials {
  color: #b2b2b2;
}

.socials__item:active {
  background-color: rgba(255, 255, 255, 0.17);
}

.socials__item:hover .span-socials {
  color: #fff;
}

/* ----------------------------- */
/*Single page*/
/*Block Page Title*/
.page-title {
  height: 148px;
  background-color: #f8f3f4;
}

.page-title-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.page-title__name {
  color: #f16d7f;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}

.page-title__list {
  display: inline;
}

.page-title__link {
  color: #636363;
  font-size: 14px;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.page-title__link_active {
  color: #f16d7f;
  font-weight: 700;
}

.page-title__link:hover {
  color: #f16d7f;
  font-weight: 700;
}

/*Block Product*/
.product-slider {
  display: flex;
  justify-content: center;
  height: 777px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
  position: relative;
}

.product-slider:before {
  content: "";
  width: 47px;
  height: 47px;
  background: url(../images/Arrow_left.jpg);
  position: absolute;
  top: 50%;
  left: 0;
  cursor: pointer;
}

.product-slider:after {
  content: "";
  width: 47px;
  height: 47px;
  background: url(../images/Arrow_right.jpg);
  position: absolute;
  top: 50%;
  right: 0;
  cursor: pointer;
}

.product-slider__img {
  width: 597px;
  height: 724px;
}

.product-card {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  position: relative;
  top: -81px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-of-collection {
  margin-top: 73px;
  color: #f16d7f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.pagination_nav-long {
  width: 147px;
  margin-top: 14px;
}

.nav__items-long {
  display: flex;
  align-items: center;
}

.nav__selector-long {
  width: 33.333%;
  height: 1px;
  background-color: #d6d6d6;
  display: inline-block;
  cursor: pointer;
}

.nav__selector-long:hover {
  height: 3px;
  background-color: #ef5b70;
}

.nav__selector-long_current {
  height: 3px;
  background-color: #ef5b70;
}

.product-name {
  margin-top: 17px;
  color: #4d4d4d;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.basket-card__stars_product {
  margin-top: 24px;
  font-size: 19px;
  color: #f1b746;
}

.product-card-text {
  margin-top: 26px;
  width: 619px;
  color: #5e5e5e;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}

.product-card-info-box {
  margin-top: 22px;
  color: #b9b9b9;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
}

.info-box-leftside {
  margin-right: 44px;
}

.span-info-box {
  color: #2f2f2f;
}

.product-card-price {
  margin-top: 37px;
  color: #ef5b70;
  font-size: 24px;
  font-weight: 700;
}

/* Выпадающие списки */
.choose-box {
  margin-top: 43px;
  padding-top: 63px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: space-evenly;
  width: 642px;
}

.choose__heading {
  color: #2f2f2f;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}

.choose__form {
  margin-top: 16px;
  padding: 9px 9px 9px 14px;
  box-sizing: border-box;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 144px;
  position: relative;
}

.choose__form:hover .choose__dropdown {
  display: block;
}

.choose__square {
  width: 12px;
  height: 12px;
}

.choose__square_red {
  background-color: #ef5b70;
}

.choose__square_yellow {
  background-color: yellow;
}

.choose__square_green {
  background-color: green;
}

.choose__square_blue {
  background-color: blue;
}

.choose__square_pink {
  background-color: pink;
}

.choose__current {
  color: #bcbcbc;
  font-size: 13px;
  margin-right: 56px;
  font-weight: 400;
}

.choose__current_14 {
  font-size: 14px;
}

.icon-angle-down {
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 400;
}

.choose__dropdown {
  display: none;
  position: absolute;
  left: -1px;
  top: 36px;
  list-style-type: none;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 143px;
}

.choose__dropdown-item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 9px 9px 9px 14px;
}

.choose__dropdown-item:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.choose__current_dropdown {
  margin-left: 11px;
}

.choose__input {
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 9px 9px 9px 14px;
  margin-top: 16px;
  outline: none;
  color: #bcbcbc;
  font-size: 14px;
  font-weight: 400;
  width: 115px;
}

/* Кнопка Add to Card */
.button_white {
  color: #ef5b70;
  background-color: #ffffff;
}

.button_add-to-card {
  width: 537px;
  height: 55px;
  font-size: 16px;
  font-weight: 700;
  background-image: url(../images/Forma_1_pink.svg);
  background-repeat: no-repeat;
  background-position: 39% center;
  margin-bottom: 122px;
  margin-top: 28px;
}

.button_add-to-card:hover {
  background-image: url(../images/Forma_1_white.svg);
  background-size: 26px 24px;
}

.add-to-card {
  margin-left: 19px;
}

/*Block Like-also*/
.like-also {
  margin-top: 33px;
}

.like-also__header {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

.like-also__box {
  display: flex;
  justify-content: space-between;
  margin-top: 72px;
}

.like-also__item {
  transition: transform 0.3s ease-in-out;
}
.like-also__item:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  transform: scale(1.03);
}

.like-also__link {
  text-decoration: none;
}

.like-also__img {
  width: 261px;
  height: 280px;
}

.like-also__heading {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 18px;
  padding: 0 12px 0 15px;
}

.like-also__info-box {
  display: flex;
  justify-content: space-between;
  margin-top: 17px;
  margin-bottom: 21px;
  padding: 0 12px 0 15px;
}

.like-also__price {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.like-also__basket-card {
  color: #e4af48;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 0;
}

/* ----------------------------- */
/*Shopping-cart*/
.shopping-cart {
  margin-top: 90px;
}

/*Block product-details*/
.product-table {
  width: 100%;
}

.product-table__heading-wrap th:first-child {
  text-align: left;
  width: 40%;
}

.product-table__title {
  color: #222222;
  font-size: 13px;
  font-weight: 700;
  text-transform: uppercase;
  padding-bottom: 20px;
  border-bottom: 1px solid #eaeaea;
  width: 100%/5;
}

.product-table__item-wrap {
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.product-table__item-wrap td {
  padding-bottom: 25px;
  border-bottom: 1px solid #eaeaea;
}

.product-table__details {
  display: flex;
  margin-top: 22px;
}

.details-table__image {
  width: 100px;
  height: 115px;
  margin-right: 20px;
}

.details-table__title {
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 11px;
  margin-top: 13px;
}

.basket-card__stars_shopping-cart {
  color: #e4af48;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 11px;
}

.details-table__feature {
  color: #6f6e6e;
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 5px;
  text-align: left;
}

.details-table__feature_bold {
  color: #575757;
  font-weight: 400;
}

.product-table__quantity {
  position: relative;
}

.product-table__quantity_border {
  width: 50px;
  height: 26px;
  border: 1px solid #eaeaea;
  line-height: 25px;
  position: absolute;
  top: 34%;
  left: 30%;
}

.product-table__action {
  position: relative;
}

.icon-close_shopping-cart {
  position: absolute;
  margin-left: 0;
  line-height: 0;
  top: 37%;
  left: 42%;
}

/*-------------------------------*/
.buttons-wrap {
  margin-top: 44px;
  display: flex;
  justify-content: space-between;
}

.button_shopping-cart {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 11px 38px;
}

/*-------------------------------*/
.forms-wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 63px;
}

/*-------------------------------*/
.form-box {
  width: 31.3333333333%;
}

.form-box__title {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.form-box__form {
  margin-top: 22px;
}

.form-box__city {
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  padding: 11px 12px 14px 18px;
  border: 1px solid #eaeaea;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.form-box__city:hover .dropdown-city {
  display: block;
}

.icon-arrow-down_grey {
  color: #b1b1b1;
}

.dropdown-city {
  display: none;
  position: absolute;
  left: -1px;
  top: 41px;
  list-style-type: none;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  width: 100%;
  z-index: 100;
}

.dropdown-city__item {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 9px 9px 9px 14px;
}

.choose__dropdown-item:hover {
  background-color: #f8f8f8;
  cursor: pointer;
}

.form-box__input {
  margin-top: 20px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  padding: 12px 5px 12px 14px;
  outline: none;
  color: #b1b1b1;
  font-size: 13px;
  font-weight: 300;
  width: 338px;
}

.form-box__input::placeholder {
  color: #b1b1b1;
}

.button_form-box {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px;
  margin-top: 23px;
}

/*-------------------------------*/
.form-box__text {
  color: #000000;
  font-size: 14px;
  font-weight: 300;
}

/*-------------------------------*/
.total-wrap {
  height: 214px;
  box-sizing: border-box;
  padding: 40px;
  background-color: #f5f3f3;
  text-transform: uppercase;
  text-align: right;
}

.sub-total {
  color: #4a4a4a;
  font-size: 11px;
  font-weight: 400;
  margin-bottom: 14px;
}

.sub-total__span {
  margin-left: 14px;
}

.grand-total {
  color: #222222;
  font-size: 16px;
  font-weight: 700;
  padding-bottom: 22px;
  border-bottom: 1px solid #e8e8e8;
}

.grand-total__span {
  color: #f16d7f;
  margin-left: 20px;
}

.button_total-wrap {
  text-transform: uppercase;
  margin-top: 17px;
  padding: 18px 50px;
}

/*-------------------------------*/
/*Checkout*/
.checkout {
  margin-top: 50px;
}

.spoiler {
  border-bottom: 1px solid #e8e8e8;
  list-style: none;
  outline: none;
}
.spoiler__title {
  height: 72px;
  line-height: 72px;
  font-size: 16px;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
}
.spoiler__title::-webkit-details-marker {
  display: none;
}
.spoiler__title:hover {
  cursor: pointer;
}
.spoiler__title:focus {
  outline: none;
}

.hidden-block__wrap {
  display: flex;
  justify-content: space-between;
  padding-right: 167px;
  margin-bottom: 79px;
}

.hidden-block {
  padding-left: 35px;
}
.hidden-block__title {
  margin-top: 3px;
  font-size: 13px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}
.hidden-block__text {
  margin-top: 10px;
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
}
.hidden-block__text_red {
  color: #ff0d0d;
}
.hidden-block__text_forgot {
  color: #222222;
  font-size: 14px;
  font-weight: 400;
  position: relative;
  top: -3px;
  left: 35px;
  text-decoration: none;
  transition: color 0.5s ease-in-out;
}
.hidden-block__text_forgot:hover {
  color: #f16d7f;
}
.hidden-block__box {
  margin-top: 33px;
}
.hidden-block__button {
  margin-top: 38px;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 17px 55px;
}
.hidden-block__button:hover {
  color: #ffffff;
}

.check-box {
  margin-top: 22px;
  margin-bottom: 33px;
  width: 160px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.check-box__label {
  font-size: 12px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
  margin-left: 14px;
  cursor: pointer;
}

.icon-arrow-double {
  color: #b3b2b2;
  font-size: 13px;
  font-weight: 400;
  margin-right: 4px;
}

.input__item {
  margin-top: 27px;
}

.input__title {
  font-size: 12px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.span-star {
  color: #ff0d0d;
  font-size: 17px;
  font-weight: 400;
}

.input__form {
  margin-top: 16px;
  width: 390px;
  height: 45px;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  padding: 9px 15px;
  outline: none;
  color: #a4a4a4;
  font-size: 14px;
  font-weight: 400;
}

/*Test animation*/
.vibrate-1 {
  -webkit-animation: vibrate-1 0.3s linear infinite both;
  -webkit-animation-animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
  0% {
    -webkit-transform: translate(0);
    -webkit-transform-transform: translate(0);
  }
  20% {
    -webkit-transform: translate(-2px, 2px);
    -webkit-transform-transform: translate(-2px, 2px);
  }
  40% {
    -webkit-transform: translate(-2px, -2px);
    -webkit-transform-transform: translate(-2px, -2px);
  }
  60% {
    -webkit-transform: translate(2px, 2px);
    -webkit-transform-transform: translate(2px, 2px);
  }
  80% {
    -webkit-transform: translate(2px, -2px);
    -webkit-transform-transform: translate(2px, -2px);
  }
  100% {
    -webkit-transform: translate(0);
    -webkit-transform-transform: translate(0);
  }
}
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-transform-origin: center center;
    -webkit-transform-origin-transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
    -webkit-transform-transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
    -webkit-transform-transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
    -webkit-transform-transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
    -webkit-animation-timing-function-animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
    -webkit-transform-transform: scale(1);
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-timing-function-animation-timing-function: ease-out;
  }
}
/* -------------------------------------- */
.product-flex {
  display: flex;
  margin-top: 59px;
}

.sidebar {
  min-width: 243px;
}
.sidebar__item {
  line-height: 37px;
}
.sidebar__item:hover {
  cursor: pointer;
}
.sidebar__item:not(:first-child) {
  margin-top: 18px;
}
.sidebar__item[open] .sidebar__item-title:before {
  content: "";
  color: #ef5b70;
}
.sidebar__item-title {
  height: 37px;
  padding-left: 11px;
  border-bottom: 1px solid #ebebeb;
  border-left: 5px solid #ef5b70;
  font-size: 14px;
  font-weight: 700;
  color: #ef5b70;
  text-transform: uppercase;
  position: relative;
}
.sidebar__item-title::-webkit-details-marker {
  display: none;
}
.sidebar__item-title:focus {
  outline: none;
}
.sidebar__item-title:before {
  content: "";
  font-family: "Font Awesome 5 free", sans-serif;
  color: #6f6e6e;
  position: absolute;
  right: 5px;
}
.sidebar__list {
  list-style: none;
  margin-left: 22px;
  margin-top: 22px;
}
.sidebar__link {
  color: #6f6e6e;
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
}

/*# sourceMappingURL=styles.css.map */
